

.dashboard #header{
    background: white;
    box-shadow: 0 2px 5px #d8d8d8 ;
}

.dashboard #header #branding a{
    color: darkgray;
}

.dashboard #header a:link,
.dashboard #header a:visited{
    color: dodgerblue;
}

.dashboard #user-tools{
    color: gray;
}


.dashboard .breadcrumbs{
    background: rgba(245, 245, 245, 0.5);
    color: gray;
}
.dashboard .breadcrumbs a{
    color: black;

}

.dashboard .module caption{
    background: whitesmoke;
}

.dashboard .module caption a{
    color: gray;
    font-weight: 100;

}


.admin-content{
    min-height: 70vh;
}

.nav-tabs{
    font-size: 10px;
}


tr:hover{
    background: #11111111;
}


.tabs-row{
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.tabs-row > a{
    float:none;
}

table[tag] * {
    --delay: 0s;
    -webkit-transition-duration: var(--delay);
    -moz-transition-duration: var(--delay);
    -ms-transition-duration: var(--delay);
    -o-transition-duration: var(--delay);
    transition-duration: var(--delay);
}















