@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

@font-face {
    src: url("../fonts/Montserrat.ttf");
    font-family: Montserrat;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
}
* {
    /*font-family: Montserrat, serif;*/
    /*font-family:  "Source Sans Pro", Helvetica, sans-serif; */
    font-family: 'Changa', sans-serif;
    /*--font-size: 15px;*/
    /*font-size: var(--font-size);*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    --primary-color:#0038b1
}
.text-primary{
    color: var(--primary-color)
}

.bg-main{
    background-color: var(--primary-color);
}

.carousel-caption{
    color: var(--primary-color) !important;
}



*:hover {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navbar {
    padding: 0 !important;
}

.nav-item {
    align-content: center;
    align-self: center;

}

.navbar-light .navbar-nav .nav-link{
    color:whitesmoke;
}

.header-part {
    /*background: #0004;*/
    background-size: 100%;
    padding-top: 30px;
}

.floating-bg {
    width: 100%;
    /*height: 200px;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.floating-bg > img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: relative;
    top: 0;
    z-index: -9;
}

.floating-bg > .over {
    background-color: rgba(29, 33, 36, 0.62);
    z-index: -5;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.content {
    background: white;
    padding-top: 15px;
    min-height: 60vh;
}

.border-bold {
    border-right-width: 3px !important;
}

.btn-outline-info {
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-info:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.banner {
    /* width: 100%; */
    /*height: 50vh;*/
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    /*background: var(--background, #1b1e21);*/
}


.banner .over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: var(--primary-color);
    /* opacity: 0.8; */
    mix-blend-mode: hue;
}

.banner .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(249 249 251) 100%) ;
    background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
background: -webkit-linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
background: linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    
    /* opacity: 0.8; */
    /* mix-blend-mode: hue; */
}
.bg-gradient{
    background: rgb(0,56,177);
background: -moz-linear-gradient(135deg, rgba(0,56,177,1) 38%, rgba(1,123,206,1) 67%, rgba(3,203,240,1) 100%);
background: -webkit-linear-gradient(135deg, rgba(0,56,177,1) 38%, rgba(1,123,206,1) 67%, rgba(3,203,240,1) 100%);
background: linear-gradient(135deg, rgba(0,56,177,1) 38%, rgba(1,123,206,1) 67%, rgba(3,203,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0038b1",endColorstr="#03cbf0",GradientType=1);
}

.banner .over .bg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #808080;
}

.banner > .title {
    margin-top: 25%;
    height: 20%;
}

.banner > .description {
    height: 50%;
    color: #eeeeee;
    max-width: 100%;
}

.banner > .background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    bottom: 0%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.banner > .background > img {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    min-height: 100%;

}

input {
    background: #fff;
    border: 0;

}

.input-group > .form-control {
    background: #fff0;
    border: 0;
    border-radius: 0;
    color: gray;
}

.form-control::-moz-placeholder {

    color: gray;
}

.form-control:-ms-input-placeholder {
    color: gray;
}

.form-control::-webkit-input-placeholder {
    color: gray;
}

.search-row {
    position: relative;

}

.search-row > .search-form {
    position: static;
    width: 100%;
    /*top: 30%;*/
    background: white;
    border-radius: 1em;
}

.search-form button {
    background: #fff0;
    border: 0;
    border-radius: 0;
    color: gray;
}

@media (max-device-width: 576px) {
    .search-row,
    .search-form {
        font-size: 7px;
    }

    .search-row > .search-form {
        position: static;
        width: 100%;
        top: 0;
    }

    .cm-dropdown > .menu {
        box-shadow: rgba(0, 0, 0, 0.25) 0 0 3px;

    }

    .btn-group {
        display: inline-table;

    }

    .footer * {
        font-size: 6px;

    }


    body {
        padding-top: 40px;
    }

    .header-part {
        padding-top: 0;
    }


    

}


.responsive-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.responsive-col {
    position: relative;
}

.responsive-row > .responsive-col {
    width: 100%;
    flex: 0 0 100%;
}

.responsive-row.col2 > .responsive-col {
    width: 50%;
    flex: 0 0 50%;
}

.responsive-row.col3 > .responsive-col {
    width: 33.3333333333%;
    flex: 0 0 33.3333333333%;

}

.responsive-row.col4 > .responsive-col {
    width: 25%;
    flex: 0 0 25%;
}

.responsive-row.col5 > .responsive-col {
    width: 20%;
    flex: 0 0 20%;
}


@media (max-width: 576px) {

    .responsive-row.col2 > .responsive-col,
    .responsive-row.col3 > .responsive-col,
    .responsive-row.col4 > .responsive-col,
    .responsive-row.col5 > .responsive-col,
    .responsive-row > .responsive-col {
        width: 100%;
    }
}

#muwaija {
    color: #9b59b6;
}

.card {
    border: 0 white solid;
    border-radius: 29px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.card-image {
    height: 200px;
    background-size: contain !important;
    background-position: center !important;
}

.btn-navigator .btn {
    color: #879dbd;
}

.ume-color {
    color: #879dbd;
}

.nav-tabs .nav-link {
    border: 0 solid white;
}

.nav-tabs .nav-link.active {
    border: 1px solid white;
    border-radius: 19px 19px 0 0;
    /*background: transparent;*/
    /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;*/
}

.tab-content {
    background: white;
    border-radius: 19px 0 0 0;
}

.nav-tabs {
    border-bottom: 0;
}

/* Tooltip container */
.btn-navigator .btn {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.btn-navigator .btn .tip {
    display: none;
    left: -250%;
    top: 20%;
    opacity: 0;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    transition-duration: 0.1s;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btn-navigator .btn:hover .tip {
    transition-duration: 0.1s;
    opacity: 1;
    display: block;
    /*visibility: visible;*/
}

.btn-navigator .btn .tip::after {
    content: " ";
    position: absolute;
    top: 50%; /* At the bottom of the tooltip */
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}


.full-body {
    min-height: 60vh;
    width: 100%;
}


.contact-us {
    position: relative;
    overflow: hidden;
}

.contact-us .bg {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: url(/static/imgs/img1.jpg) bottom;
    background-size: 100% !important;
    z-index: -10;
    filter: blur(2px);
    bottom: -10px;
}

.contact-us .bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: var(--primary-color);
    background-size: 100% !important;
    mix-blend-mode: hue;
}


.carousel-item > img{
    min-height: 200px;
    max-width: none;
}

body{
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url(images/overlay.png), linear-gradient(60deg, rgb(3, 203, 240) 5%, rgb(0, 56, 177)), url(../../images/bg.jpg);
    background-size: 100px 100px, cover, cover;
    background-attachment: fixed, fixed, fixed;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: left top, center center,
}


.agencies-banner {
    /* width: 100%; */
    /*height: 50vh;*/
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    /*background: var(--background, #1b1e21);*/
}


.agencies-banner .over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: var(--primary-color);
    /* opacity: 0.8; */

}
.agencies-banner .over::before {
    content:" ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: url(../imgs/tools1.jpeg) 25%;
}
.agencies-banner .over::after {
    content:" ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: var(--primary-color);
    mix-blend-mode: color;
}


.agencies-banner .smoother {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: #f8f9fa;
    opacity: 0.9;
}

}

.agencies-banner .content {

    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background: linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(249 249 251) 100%) ;
    background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
background: -webkit-linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
background: linear-gradient(180deg, rgb(248 249 250) 0%, rgba(0,0,0,0) 50%, rgb(248 249 250) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

    /* opacity: 0.8; */
    /* mix-blend-mode: hue; */
}