@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

@font-face {
    font-family: "Monstrat";
    src: url(../fonts/Montserrat-Arabic-Regular.woff);
}

* {
    --color-table-header: #3498db;

}

body {
    /*font-family: Monstrat, serif;*/
    font-family: 'El Messiri', sans-serif;
}


#subjectsTable > tbody > tr:hover {
    cursor: pointer;
}


#subjectsTable > tbody {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    /*font-size: 0.8em;*/
    font-size: 10px
}

.lectures_table {
    /*font-size: x-small;*/
    font-size: 10px
}


.lectures_table th {
    --column-width: 80px;
    -webkit-column-width: var(--column-width);
    -moz-column-width: var(--column-width);
    column-width: var(--column-width);
}

.lectures_table > thead > tr > th {
    direction: ltr;
    background: var(--color-table-header);
}

.lectures_table td {
    padding: 0;
}


.high-light-column {
    background: var(--color-table-header);
}


.selected-column {
    /*--background: transparent;*/
    background: var(--background);
}

.context-menu {
    position: fixed;
    top: 100px;
    left: 100px;
    display: none;
    --durtion: 0s;
    -webkit-transition-duration: var(--durtion);
    -moz-transition-duration: var(--durtion);
    -ms-transition-duration: var(--durtion);
    -o-transition-duration: var(--durtion);
    transition-duration: var(--durtion);
}

.context-menu.show {
    display: block;
    --durtion: 0s;
    -webkit-transition-duration: var(--durtion);
    -moz-transition-duration: var(--durtion);
    -ms-transition-duration: var(--durtion);
    -o-transition-duration: var(--durtion);
    transition-duration: var(--durtion);
}

.popup-window {
    display: none;
    position: fixed;
    top: 15%;
    left: 25vw;
    width: 50vw;
    background: var(--light);
}

.popup-window.show {
    display: block;
}


.focus {
    background: var(--success);
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    padding-top: 20%;

}

.loading.show {
    display: block;
}


td > div {
    background: red;
    border-radius: 5px;
    text-align: center;
    margin: 2px 0;

}

td > div:only-child {
    background: transparent;
    border-radius: 10%;
}



