{% extends 'abstruct_header_footer.html' %}
{% load i18n %}
{% load custom_tags %}
{% block full_body %}

    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationServer01">{% trans 'Name' %}</label>
                            {% if form.name.errors %}
                                {{ form.name|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter company name' %}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}

                        </div>
                    </div>


                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Description' %}</label>

                        {% if form.description.errors %}
                            {{ form.description|add_classes:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% trans 'Please Enter company description' %}
                            </div>
                        {% else %}
                            {{ form.description }}
                        {% endif %}
                    </div>

                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Image' %}</label>
                        {% if form.image.errors %}
                            {{ form.image|add_classes:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% trans 'Please select company image' %}
                            </div>
                        {% else %}
                            {{ form.image }}
                        {% endif %}
                    </div>


                    <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}