{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load i18n %}


{% block full_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light">
                <div class="row">

                    <div class="col pt-3">
                        <a href="{% fullurl 'Company:add' %}" class="btn text-dark bg-transparent"><span
                                class="fa fa-plus"></span> {% trans 'Add' %}</a>
                    </div>
                    <div class="col-6 col-sm-8 search-row pt-3 text-center">
                        {#                action="{% fullurl 'search' %}"#}
                        <form class="search-form">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                                       aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>

                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 h2 mt-5">
                {% trans 'Company' %}:
            </div>
            {% for author in authors %}
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <a href="{% url 'Company:edit' author.id %}"
                               class="btn text-secondary w-100 text-left p-0 m-0">
                                <div class="card border p-3 shadow-none">
                                    <div class="row">

                                        <div class="col-auto">{{ author.id }}</div>
                                        <div class="col">{{ author.name }}</div>

                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-auto p-0 m-0">

                            <a href="{% url 'Company:delete' author.id %}"
                               class="btn text-danger w-100 text-left p-0 m-0">
                                <div class="card border border-danger p-3 shadow-none">
                                    <span class="fa fa-times"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'pager.html' %}
    </div>

{% endblock %}