{% extends 'abstruct_header_footer.html' %}
{% load i18n %}
{% load custom_tags %}

{% block full_body %}

    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    <div class="form-row">
                        {% csrf_token %}
                        <div class="col-md-12 mb-3">
                            <label for="validationServer01">{% trans 'Name' %}</label>

                            {% if form.name.errors %}
                                {{ form.name|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter category name' %}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}