{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load i18n %}

{% block full_body %}
    <div class="container">

        <div class="row text-center p-3 pt-5">
            <div class="col-6 col-lg-3 col-md-4 mt-4">
            <a href="{% url 'Manager:manager_users' %}" class="btn text-dark">
                <div class="card border p-3">
                    <img class="img-fluid" src="{% fullstatic 'imgs/group.png' %}" alt="Effective readers">
                    <hr>
                    <div class="h4">{% trans 'Users' %}</div>

                </div>
            </a>
            </div>

            <div class="col-6 col-lg-3 col-md-4 mt-4">
                <a href="{% fullurl 'Manager:manager_products' %}" class="btn text-dark">
                    <div class="card border p-3">
                        <img class="img-fluid" src="{% fullstatic 'imgs/bags.png' %}" alt="Effective readers">
                        <hr>
                        <div class="h4">{% trans 'Products' %}</div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-4 mt-4">
                <a href="{% fullurl 'Manager:manager_categories' %}" class="btn text-dark">
                    <div class="card border p-3">
                        <img class="img-fluid" src="{% fullstatic 'imgs/categories.png' %}" alt="Effective readers">
                        <hr>
                        <div class="h4">{% trans 'Categories' %}</div>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-3 col-md-4 mt-4">
                <a href="{% url 'Manager:manager_company' %}" class="btn text-dark">
                <div class="card border p-3">
                    <img class="img-fluid" src="{% fullstatic 'imgs/publisher.png' %}" alt="Effective readers">
                    <hr>
                    <div class="h4">{% trans 'Company' %}</div>
                </div>
                </a>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
{% endblock %}