{% extends 'abstruct_header_footer.html' %}
{% load i18n %}


{% block full_body %}


    <br>
    <div class="container">
        <div class="row">
            <div class="col-5 mx-auto text-center">
                

                <form method="post">
                    <div class="h2 text-center text-danger">{% trans 'Login' %}</div>
                    {% if form.errors %}
                        <div class="card w-100 border-danger border shadow-none text-danger text-center">
                            User name or password error
                        {{ form.errors }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="validationServer01">{% trans 'User Name' %}</label>
                        {{ form.username }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>


                    <div class="form-row">
                        <label for="validationServer03">{% trans 'Password' %}</label>
                        {{ form.password }}
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-outline-danger" type="submit">{% trans 'Login' %}</button>
                </form>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
{% endblock %}