{% extends 'abstruct_header_footer.html' %}
{% load custom_tags %}
{% load i18n %}

{% block full_body %}

    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="validationServer01">{% trans 'Name' %}</label>
                            {% if form.name.errors %}
                                {{ form.name|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter name' %}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">{% trans 'Code' %}</label>

                            {% if form.isbn.errors %}
                                {{ form.isbn|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter Code.' %}
                                </div>
                            {% else %}
                                {{ form.isbn }}
                            {% endif %}
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServer03">{% trans 'Company' %}</label>
                            {% if form.company.errors %}
                                {{ form.company|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please select Company.' %}
                                </div>
                            {% else %}
                                {{ form.company }}
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationServer04">{% trans 'Category' %}</label>
                            {% if form.category.errors %}
                                {{ form.category|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please select category' %}
                                </div>
                            {% else %}
                                {{ form.category }}
                            {% endif %}
                        </div>
                        
                    </div>

                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Description' %}</label>

                        {% if form.description.errors %}
                            {{ form.description|add_classes:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% trans 'Please Enter description' %}
                            </div>
                        {% else %}
                            {{ form.description }}
                        {% endif %}
                    </div>
                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Image' %}</label>
{#                        {{ form.image }}#}
                        {% if form.image.errors %}
                                {{ form.image|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please select image' %}
                                </div>
                            {% else %}
                                {{ form.image }}
                            {% endif %}
                    </div>

                    <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}