{% extends 'abstruct_header_footer.html' %}
{% load i18n %}
{% load custom_tags %}

{% block full_body %}

    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="validationServer01">{% trans 'Name' %}</label>

                            {% if form.name.errors %}
                                {{ form.name|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter publisher name' %}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">{% trans 'ISBN' %}</label>
                            {% if form.isbn.errors %}
                                {{ form.isbn|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter publisher ISBN number.' %}
                                </div>
                            {% else %}
                                {{ form.isbn }}
                            {% endif %}
                        </div>

                    </div>
                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Location' %}</label>
                        {% if form.location.errors %}
                                {{ form.location|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter publisher location' %}
                                </div>
                            {% else %}
                                {{ form.location }}
                            {% endif %}
                    </div>
                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Description' %}</label>
                        {% if form.description.errors %}
                                {{ form.description|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter publisher description.' %}
                                </div>
                            {% else %}
                                {{ form.description }}
                            {% endif %}
                    </div>

                    <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}