{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load i18n %}


{% block full_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light">
                <div class="row">

                    <div class="col pt-3">
                        <a href="{% fullurl 'Summaries:add' %}" class="btn text-dark bg-transparent"><span
                                class="fa fa-plus"></span> {% trans 'Add' %}</a>
                    </div>
                    <div class="col-6 col-sm-8 search-row pt-3 text-center">
                        <form class="search-form">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                                       aria-label="Search"
                                       aria-describedby="basic-addon1">
                            </div>

                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 h2 mt-5">
                {% trans 'Summaries' %}:
            </div>
            {% for summary in summaries %}
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <a href="{% url 'Summaries:edit' summary.id %}" class="btn text-secondary w-100 text-left m-0 p-0">
                                <div class="card border p-3 shadow-none">
                                    <div class="row">

                                        <div class="col-auto">
                                            <img class="" src="{% url 'media' summary.icon.url %}" alt="" height="50">
                                        </div>
                                        <div class="col-auto p-3">{{ summary.id }}</div>
                                        <div class="col p-3">{{ summary.title }}</div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-auto py-3 px-0 m-0">

                            <a href="{% url 'Summaries:delete' summary.id %}"
                               class="btn text-danger w-100 text-left p-0 m-0">
                                <div class="card border border-danger p-3 shadow-none">
                                    <span class="fa fa-times"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'pager.html' %}

        <br>
        <br>
    </div>

{% endblock %}