{% extends 'abstruct_header_footer.html' %}
{% load i18n %}
{% load custom_tags %}

{% block full_body %}

    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationServer01">{% trans 'Title' %}</label>
                            {% if form.title.errors %}
                                {{ form.title|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please Enter summary title.' %}
                                </div>
                            {% else %}
                                {{ form.title }}
                            {% endif %}
                        </div>
                    </div>


                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Description' %}</label>
                        {% if form.body.errors %}
                            {{ form.body|add_classes:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% trans 'Please Summary body.' %}
                            </div>
                        {% else %}
                            {{ form.body }}
                        {% endif %}
                    </div>

                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Image' %}</label>
                        {% if form.image.errors %}
                            {{ form.image|add_classes:'is-invalid' }}
                            <div class="invalid-feedback">
                                {% trans 'Please select banner image for summary' %}
                            </div>
                        {% else %}
                            {{ form.image }}
                        {% endif %}
                    </div>
                    <div class="form-row mb-3">
                        <label for="validationServer05">{% trans 'Icon' %}</label>
                        {% if form.icon.errors %}
                                {{ form.icon|add_classes:'is-invalid' }}
                                <div class="invalid-feedback">
                                    {% trans 'Please icon for summary.' %}
                                </div>
                            {% else %}
                                {{ form.icon }}
                            {% endif %}
                    </div>


                    <button class="btn btn-outline-danger" type="submit">{% trans "Saves" %}</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}