{% extends 'abstruct_header_footer.html' %}
{% load i18n %}
{% load fullurl %}

{% block full_body %}

    <br>
    <br>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {{ form.errors }}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="validationServer01">{% trans 'Name' %}</label>
                            {{ form.username }}
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">{% trans 'Email' %}</label>
                            {{ form.email }}
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServer03">{% trans 'First name' %}</label>
                            {{ form.first_name }}
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationServer04">{% trans 'Last name' %}</label>
                            {{ form.last_name }}
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                    {% if not form.instance.id %}

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationServer03">{% trans 'Password' %}</label>
                                {{ form.password }}
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationServer04">{% trans 'Retype password' %}</label>
                                {{ form.password2 }}
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}