{% extends 'abstruct_header_footer.html' %}




{% block full_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-light">
                <div class="row">

                    <div class="col pt-3">
                        <a href="{% url 'Accounts:add' %}" class="btn text-dark bg-transparent"><span
                                class="fa fa-plus"></span> اضافة </a>
                    </div>
                    <div class="col-6 col-sm-8 search-row pt-3 text-center">
                        {#                action="{% fullurl 'search' %}"#}
                        <form class="search-form">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <input name="q" type="text" class="form-control" placeholder="بحث"
                                       aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 h2 mt-5">
                System Users:
            </div>
            {% for user in users %}
                <div class="col-12">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <a href="{% url 'Accounts:edit' user.id %}" class="btn text-secondary w-100 text-left m-0 p-0">


                                <div class="card border p-3 shadow-none">
                                    <div class="row">

                                        <div class="col-auto">{{ user.id }}</div>
                                        <div class="col">{{ user.username }}</div>
                                        <div class="col-auto">{{ user.email }}</div>
                                    </div>
                                </div>

                            </a>
                        </div>

                        <div class="col-auto py-3 px-0 m-0">

                            <a href="{% url 'Accounts:delete' user.id %}"
                               class="btn text-danger w-100 text-left p-0 m-0">
                                <div class="card border border-danger p-3 shadow-none">
                                    <span class="fa fa-times"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'pager.html' %}
    </div>

{% endblock %}