{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load custom_tags %}
{% load i18n %}


{% block full_body %}

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12">
                <h1>About Aburgaya Group</h1>
            </div>
                
                <div class="col-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationServer01">{% trans 'Email' %}</label>
                                        {% if form.email.errors %}
                                            {{ form.name|add_classes:'is-invalid' }}
                                            <div class="invalid-feedback">
                                                {% trans 'Please Enter your email' %}
                                            </div>
                                        {% else %}
                                            {{ form.email }}
                                        {% endif %}
            
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-md-12 mb-3">
                                    <label for="validationServer05">{% trans 'Name' %}</label>
                                    {% if form.name.errors %}
                                        {{ form.name|add_classes:'is-invalid' }}
                                        <div class="invalid-feedback">
                                            {% trans 'Please enter your name' %}
                                        </div>
                                    {% else %}
                                        {{ form.name }}
                                    {% endif %}
                                    </div>
        
                                    
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationServer05">{% trans 'Category' %}</label>
                                {% if form.category.errors %}
                                    {{ form.category|add_classes:'is-invalid' }}
                                    <div class="invalid-feedback">
                                        {% trans 'Please select category' %}
                                    </div>
                                {% else %}
                                    {{ form.category }}
                                {% endif %}
                                </div>
                            
                            <div class="col-12">
                                <div class="form-row mb-3">
                                    <label for="validationServer05">{% trans 'Description' %}</label>
            
                                    {% if form.description.errors %}
                                        {{ form.description|add_classes:'is-invalid' }}
                                        <div class="invalid-feedback">
                                            {% trans 'Please Enter author description' %}
                                        </div>
                                    {% else %}
                                        {{ form.description }}
                                    {% endif %}
                                </div>
                            </div>
        
                            
        
        
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-outline-danger" type="submit">{% trans 'Save' %}</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>




<div class="contact-us text-primary"
style="">
<div class="bg"></div>
<div class="container fa-2x">
   <div class="row">
       <div class="col-12 text-center mt-4">
           <div class="h1">{% trans 'Contact with us' %}:</div>
       </div>
   </div>
   <div class="row fa-xs mx-5">

       <div class="col-12 col-md-auto mx-auto">
           <p class="text-left">
               <a href="https://www.facebook.com/#/" target="_blank" class="btn text-primary "><span
                       class="fab fa-facebook"></span> Aburgaya Group</a>
           </p>
           <p class="text-left">
               <a href="https://www.instagram.com/aburgayagroup" class="btn text-primary"
                  target="_blank">
                   <span class="fab fa-instagram"></span> in.com/aburgayaGroup
               </a>
           </p>

       </div>
       <div class="col-12 col-md-auto mx-auto fa-xs">
           <p class="text-left">
               <a class="btn text-primary" href="tel:0912345678"><span class="fa fa-phone"></span> 091 000 00
                   00</a>
           </p>
           <p class="text-left">
               <a class="btn text-primary"><span class="fa fa-map-marker-alt"></span> {% trans 'Misurata - Libya' %}</a>
           </p>
           <p class="text-left">
               <a href="mailto:info@aburgayagroup.com" class="btn text-primary">
                   <span class="fa fa-envelope"></span> info@aburgayagroup.com
               </a>
           </p>
       </div>


   </div>
</div>

</div>

{% endblock %}