{% load static %}
{% load fullurl %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% fullstatic 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% fullstatic 'css/style.css' %}">
    <link rel="stylesheet" href="{% fullstatic 'css/styler.css' %}">
    <link rel="stylesheet" href="{% fullstatic 'css/admin_style.css' %}">
    <link rel="stylesheet" href="{% fullstatic 'css/fontawesome-all.min.css' %}">
    <title>{% block title %}Aburgaya Group{% endblock %}</title>
    <link rel="shortcut icon" href="{% fullstatic 'imgs/logo-white.svg' %}"/>
</head>
<body >
<div class="container bg-light rounded pb-4">
    <nav class="navbar navbar-expand-lg bg-light" >
        <button class="navbar-toggler mx-3 my-2" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
    
        <div class="collapse navbar-collapse mx-3" id="navbarTogglerDemo03">
            <div class="text-light mr-3">
                <a class="btn text-light" href="{% url 'Home:home' %}">
                    <img class="" height="50" src="{% static 'imgs/logo-02.svg' %}" alt="">
                    
                </a>
            </div>
    
            <ul class="navbar-nav  mt-2 mt-lg-0  text-primary">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Home:home' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Home:library' %}">{% trans 'Products' %}</a>
                </li>
                <li class="nav-item cm-dropdown">
                    <a href="{% url 'Company:home' %}" class="nav-link">
                        {% trans 'Companies' %}
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'Home:about' %}">{% trans 'Contact' %}</a>
                </li>
                
            </ul>
    
    
    
        <ul class="navbar-nav ml-auto">
    
            <li class="nav-item dropdown">
                <a class="nav-link text-primary" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-globe"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'Home:setLanguage' 'ar' %}">{% trans 'Arabic' %}</a>
                    <a class="dropdown-item" href="{% url 'Home:setLanguage' 'en' %}">{% trans 'English' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" id="adminDropMenu" class="nav-link  text-primary"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropMenu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% fullurl 'Manager:manager_home' %}">{% trans 'User Page' %}</a>
                        <a class="dropdown-item" href="{% fullurl 'Accounts:logout' %}">{% trans 'Logout' %}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% fullurl 'Accounts:login' %}">{% trans 'Login' %}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        </div>
    </nav>
    
    
    <div class="full-body">
    
        {% block full_body %}
        {% endblock %}
    
    </div>
    
    
</div>
<div class="container-fluid">
    <div class="footer text-center row">
        
        <div class="container">
            <div class="row w-100" style="">

                <div class="col-2 text-center">
                    <a href="https://muwaija.com/" target="_blank" class="btn text-white">
                    Design by
                        <img class="img-fluid" src="{% static 'imgs/logo_w.png' %}" alt="">
                    </a>
                </div>
                <div class="col"></div>
                <div class="col-3">
                    <img class="img-fluid" src="{% static 'imgs/logo-03.svg' %}" alt="">
                </div>
                <div class="col"></div>
                <div class="col-auto text-center m-0 p-0" style="word-wrap: unset">All rights reserved 2021 &copy;</div>
            </div>
        </div>
    </div>
</div>
<script src="{% fullstatic 'js/jquery-3.3.1.js' %}"></script>
<script src="{% fullstatic 'js/jquery-ui.js' %}"></script>
<script src="{% fullstatic 'js/bootstrap.min.js' %}"></script>
<script src="{% fullstatic 'js/script.js' %}"></script>
{#{% include 'google_analytics.html' %}#}
</body>
</html>