{% load fullurl %}
{% if author %}

    <div class="col-12 my-2">
        <a href="{% url 'Company:detail' author.id %}" class="btn w-100 text-left text-dark">

            <div class="card w-100 shadow-sm" style="overflow: hidden;">
                <div class="row">

                    <div class="col-3" >
{#                        <img class="img-fluid" src="{% fullstatic 'imgs/logo_only.png' %}" alt="">#}
                        <div class="w-100 card-image" style="background: url('{{ author.url }}') no-repeat"></div>
                    </div>

                    <div class="col-8 p-3">
                        <div class="h1">{{ author.name }}</div>
                        <div style="white-space: normal;" class="w-100 mt-2 text-secondary">{{ author.description }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>


{% endif %}

