{% extends "header_footer.html" %}


{% block body %}
    <div class="container">
        <div class="row">
            {% for author in authors %}
                {% include 'authors_list_item.html' with author=author %}
            {% endfor %}

        </div>

        {% include 'pager.html' %}
    </div>
{% endblock %}