{% load fullurl %}
{% if product %}

<div class="col-3">
    <div class="card text-center">
        <img class="card-img-top" src="{% fullstatic 'imgs/img-12-bg.png' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url 'Products:detail' product.id %}" class="btn btn-outline-info">Detail</a>
        </div>
    </div>
</div>
{% endif %}