{% extends 'header_footer.html' %}
{% load fullurl %}


{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                {#                <img class="img-fluid" src="{% url 'media' summary.image.url %}" alt="">#}
                <div class="w-100 card-image"
                     style="background: url('{% url 'media' company.image.url %}'); background-size: 100% !important;"></div>
            </div>

            <div class="col-12 p-3">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">

                        <div class="h1 text-center">{{ company.name }}</div>

                        <div class="mt-2 text-secondary">{{ company.description }}</div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <div class="row">
        {% for product in products %}
                {% include 'books_list_item.html' with product=product %}
            {% endfor %}
    </div>

{% endblock %}