{% extends "abstruct_header_footer.html" %}
{% load fullurl %}

{% block full_body %}
    <div class=" bg-light w-100 text-center">

        <div class="container">
            <div class="row">
                <div class="col"></div>

                <div class="col-6 col-sm-8 search-row pt-3">
                    {#                action="{% fullurl 'search' %}"#}
                    <form class="search-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></button>
                            </div>
                            <input name="q" type="text" class="form-control" placeholder="بحث"
                                   value="{{ q }}"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>

                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    {% block body %}

    {% endblock %}




{% endblock %}