{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load static %}

{% load i18n %}
{% block full_body %}
<div class="banner" style="">
    <div class="background">


    </div>
    <div class="over"></div>

    <div class="container-fluid text-start">
        <div class="row">

            <div class="col-12 p-5">
                <img class="img-fluid mt-4" src="{% fullstatic 'imgs/logo-02.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row agencies-banner" style="font-size:1.2em; overflow:unset">

    <!--    <img class="img-fluid w-100" src="{% fullstatic 'imgs/tools1.jpeg' %}" alt="">-->
    <div class="over"></div>
    <div class="smoother"></div>
    <div class="content">

        <div class="row">
            <div class="col-12">

                <h1><strong>{% trans 'Agencies' %}</strong></h1>
            </div>
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col order-12  order-md-1 text-justify py-3" style="direction: rtl;">
                            {% blocktrans %}
                            More than just numbers, what truly defines Tramontina is the constant effort to make
                            people´s lives better. The small iron mill founded by Valentin and Elisa Tramontina in 1911
                            in southern Brazil was the beginning of a group that now encompasses 10 manufacturing units
                            and has kept the century-old tradition of delighting people with simple gestures.
                            {% endblocktrans %}
                            <br>
                            <a class="btn btn-primary" href="{% url 'Company:detail' 1 %}"> {% trans 'Show Products' %}</a>
                        </div>
                        <div class="col-12 col-md-3 order-1  order-md-12">
                            <a href="#">

                                <img class="img-fluid img-thumbnail shadow"
                                     src="{% fullstatic 'imgs/foto_t_store_casashopping_rj_br.jpeg' %}"
                                     alt="">

                            </a>
                        </div>
                    </div>

                    <hr>
                    <div class="row mt-2">

                        <div class="col-12 col-md-3 order-1">
                            <a href="#">
                                <img class="img-fluid img-thumbnail shadow" src="{% fullstatic 'imgs/astra.png' %}"
                                     alt="">
                            </a>
                        </div>
                        <div class="col order-12 text-justify  py-3" style="direction: rtl;">
                            {% blocktrans %}
                            Astra , founded in 1957, in the city of Jundiaí - 60km from the capital of São Paulo - is a
                            multi -specialized company that creates and sells products and solutions for people's daily
                            lives.
                            It has a varied portfolio, composed of items aimed at construction , ranging from the
                            foundation of the work to the finish, from the technical item to the decoration:
                            {% endblocktrans %}
                            <br>
                            <a class="btn btn-primary" href="{% url 'Company:detail' 2 %}"> {% trans 'Show Products' %}</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col order-12 order-md-1 text-justify  py-3" style="direction: rtl;">
                            {% blocktrans %}
                            Canbond develops and manufactures high grade, premium, affordable cements and adhesives for
                            the international marketplace. Our creed, ‘Bonding Our World, Together' incorporates the
                            highest regard for our client relationships, technical product quality, and competitive
                            confidence.
                            {% endblocktrans %}
                            <br>
                            <a class="btn btn-primary" href="{% url 'Company:detail' 3 %}"> {% trans 'Show Products' %}</a>
                        </div>
                        <div class="col-12 col-md-3 order-1 order-md-12">
                            <a href="#">
                                <img class="img-fluid img-thumbnail shadow"
                                     src="{% fullstatic 'imgs/canbond.jpeg' %}"
                                     alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container text-dark pt-2 text-center">
    <div class="row pt-5">
        <div class="col-12">
            <p class="fa-3x text-primary">{% trans 'Products' %}</p>
        </div>
        {% for product in products %}
        <div class="col-12 col-lg-3 col-md-6 mb-2">
            <div class="card pt-2 fa-x2">
                <div class="w-100 card-image" style="background: url('{{ product.url }}') no-repeat"></div>
                {% comment %} <img class="card-img-top" src="{% fullstatic 'imgs/img-9-bg.png' %}" alt="Card image cap"> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'Products:detail' product.id %}" class="btn btn-outline-info">{% trans 'View' %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 text-center mt-5">
        <a href="{% url 'Home:library' %}" class="btn btn-outline-info">{% trans 'All Products' %}</a>
    </div>
    
</div>


<div class="container text-dark pt-2 text-center fa-xs" dir='rtl'>
    <div class="row pt-5">
        <div class="col-12">
            <p class="fa-3x text-primary">{% trans 'Aburgaya Group' %}</p>
        </div>
        <div class="col-12 fa-2x">
            {% blocktrans %}
            Aburgaya Group, the exclusive agent of the Brazilian Tramontina company in Libya, offers you the original products that include: <br/>
            Housewares -
            Hand tools -
            agricultural tools -
            Celestial Sinks <br/>
            We represent the Brazilian company through our exclusive agency in Libya for 20 years <br/>
            
            <br/>
            To inquire about <strong>Housewares</strong> you can us in 
            Misurata roundabout Fakarneh near the round of Alskirat.
            Or call the numbers:
            0910339888 -
            0920339888
            <br/>
            <br/>
            To inquire about <strong>(building materials, agricultural tools, workshop equipment and kitchen sinks)</strong> you can visit us at our headquarters located in Misurata - Al-Majmadat Street - after Omar Ibn Al-Khattab Mosque, 250 meters towards Al-Taqeel.
            Or call the two numbers:
            0915108133 -
            0927108133
            {% endblocktrans %}
        </div>
    </div>
</div>


<!--</div>-->


<br>
<br>


<div class="contact-us text-primary"
     style="">
    <div class="bg"></div>
    <div class="container">
        <div class="row fa-2x">
            <div class="col-12 text-center mt-4">
                <div class="h1">{% trans 'Contact with us' %}:</div>
            </div>
        </div>
        <div class="row mx-0 mx-md-5">

            <div class="col-12 col-md-5 mx-auto">
                <p class="">
                    <h4><i class="fa fa-home"></i> {% trans 'Housewares' %}</h4>
                </p>
                <p class="">
                    <span class="fa fa-phone"></span> <a class="btn text-primary" href="tel:0910339888">0910339888</a> - <a class="btn text-primary" href="tel:0920339888">0920339888</a>
                </p>
                <p class="">
                    <span class="fa fa-map-marker-alt"></span> <a class="btn text-primary">{% trans 'Roundabout Fakarneh - Misurata - Libya' %}</a>
                </p>
                <p class="">
                    <span class="fa fa-envelope"></span> <a href="mailto:sales@aburgayagroup.com" class="btn text-primary">sales@aburgayagroup.com</a>
                </p>

            </div>
            <div class="col-12 col-md-5">
                <p class="">
                    <h4><i class="fa fa-home"></i> {% trans 'Building materials and agricultural tools' %}</p></h4>
                <p class="">
                    <span class="fa fa-phone"></span> <a class="btn text-primary" href="tel:0915108133">0915108133</a> - <a class="btn text-primary" href="tel:0927108133">0927108133</a>
                </p>
                <p class="">
                    <span class="fa fa-map-marker-alt"></span> <a class="btn text-primary">{% trans 'Almujamadat Street - Misurata - Libya' %}</a>
                </p>
                <p class="">
                    <span class="fa fa-envelope"></span> <a href="mailto:sales2@aburgayagroup.com" class="btn text-primary">sales2@aburgayagroup.com</a>
                </p>
            </div>


        </div>
    </div>

</div>


{% endblock %}