{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}
{% load static %}
{% load i18n %}

{% block full_body %}
    <div class=" bg-dark banner rounded">
        <div class="background">
            <img class="img-fluid" src="{% fullstatic 'imgs/img-10.jpeg' %}" alt="">
        </div>
        <div class="over"></div>

        <div class="container">
            <div class="col-12 mt-5">
                <img class="img-fluid w-50" src="{% fullstatic 'imgs/logo-03.svg' %}"
                     alt="Effective Readers">
            </div>
            <div class="row">
                <div class="col"></div>

                <div class="col-6 col-sm-8 search-row pt-3">
                    
                    <form class="search-form" action="{% url 'Products:home' %}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></button>
                            </div>
                            <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>

                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <div class="container text-dark pt-2">
        <div class="row">
            {% for category in categories %}

                <div class="col-auto p-2 border-0 rounded m-2">
                    <a href="#" class="btn btn-light">
                        {{ category.name }}
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="container mt-4">

        <div class="h2">{% trans 'Newest' %}</div>
        <div class="row text-center">
            {% for book in products %}

                <div class="col-3 p-2">
                    <a href="{% url 'Products:detail' book.id %}" class="btn w-100 p-0">
                        <div class="card border p-3">
                            <div class="w-100 card-image" style="background: url('{{ book.url }}') no-repeat">
                            </div>
                            <hr>
                            <div class="h4 text-dark">{{ book.name }}</div>
                            <p class="text-muted">{{ book.company.name }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>






    <div class="container mt-4">

        <div class="h2">{% trans 'By company' %}</div>
        <div class="row text-center">

            {% for company in companies %}
                <div class="col-2">
                    <a href="{% url 'Company:detail' company.id %}" class="btn p-0 w-100">
                        <div class="card border p-3 w-100">
                            <div class="w-100 card-image" style="background: url('{{ company.url }}') no-repeat"></div>
                            <hr>
                            <div class="h6 text-dark">{{ company.name }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}