{% if page_obj.paginator.num_pages > 1 %}

    <div class="row mt-3">
        <div class="col"></div>
        <div class="col-auto">
            <div class="col-12 text-center">
                <nav aria-label="Page navigation ">
                    <ul class="pagination pagination-lg">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if  page_obj.has_previous %}
                                    ?page={{ page_obj.previous_page_number }}
                        {% else %}#{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                        </li>

                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}
                ?page={{ page_obj.next_page_number }}
                {% else %}# {% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endif %}
