{% extends 'header_footer.html' %}
{% load fullurl %}

{% block body %}
    <div class="container">
        <div class="row pt-5">
            {% for product in products %}
                {% include 'books_list_item.html' with product=product %}
            {% endfor %}
        </div>
        {% include 'pager.html' %}
    </div>
{% endblock %}