{% extends 'abstruct_header_footer.html' %}
{% load fullurl %}


{% block full_body %}

    <div class="container-fluid">
        <div class="row mt-5">

            <div class="col-4">
{#                <img class="img-fluid" src="{% fullstatic 'imgs/logo_only.png' %}" alt="">#}
{#                <img class="img-fluid" src="{{ book.url }}" height="200" alt="">#}
                <div class="w-100 card-image" style="background: url('{{ product.url }}') no-repeat; height: 40vh;"></div>
            </div>
            <div class="col-8 p-3">
                <div class="h1">{{ product.name }}</div>
                <div class="text-muted">{{ product.company.name }} &nbsp;&nbsp;&nbsp;&nbsp; Code: {{ product.isbn }}</div>
                <p class="mt-2 text-secondary">{{ product.description }}</p>
            </div>

        </div>

    <div class="container">
        <hr>
        <div class="h2">Similar</div>



        <div class="row text-center">
        {% for book in similar_books %}
            <div class="col-3 mt-3">
            <a href="{% url 'Books:detail' book.id %}" class="btn w-100 p-0 text-dark">
                <div class="card border p-3">
{#                    <img class="img-fluid" src="{% fullstatic 'imgs/logo_only.png' %}" alt="Effective readers">#}
                    <div class="w-100 card-image" style="background: url('{{ book.url }}') no-repeat;"></div>
                    <hr>
                    <div class="h4">{{ book.name }}</div>
                    <p class="text-muted">{{ book.authors }}</p>
                </div>
            </a>
            </div>
        {% endfor %}


        </div>

    </div>



    </div>
{% endblock %}