{% extends "header_footer.html" %}


{% block body %}
    <div class="container">
        <div class="row">
            {% for summary in summaries %}
                {% include 'summaries_list_item.html' with summary=summary %}
            {% endfor %}

        </div>

        {% include 'pager.html' %}
    </div>
{% endblock %}