{% load fullurl %}
{% if summary %}

    <div class="col-12 my-2">
        <a href="{% url 'Summaries:detail' summary.id %}" class="btn w-100 text-left text-dark">

            <div class="card w-100 shadow-sm" style="overflow: hidden;">
                <div class="row">

                    <div class="col-2" >
{#                        <img class="img-fluid" src="{% fullstatic 'imgs/logo_only.png' %}" alt="">#}
                        <div class="card-image" style="background: url('{% url "media" summary.icon.url %}') no-repeat; height: 100px;"></div>
                    </div>

                    <div class="col-8 p-3">
                        <div class="h1">{{ summary.title }}</div>
                        <div style="white-space: normal;" class="w-100 mt-2 text-secondary">{{ summary.body|slice:"0:100" }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>


{% endif %}

